/* Put your CSS here */
.ember-application {
    margin: 20px;
}

body {
	background: #f7f2d3;
	background: -moz-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f7f2d3));
	background: -webkit-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
	background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
	background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
	background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
	background-color: #f7f3de;
}

h2 {
	color: #333333;
}

.jumbotron {
	background-color: #E2DDC2 !important;
}

.slide-item {
    width: 800px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
}

.left {
	text-align: left;
}